<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhengqing.modules.quartz.mapper.QuartzTaskMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhengqing.modules.quartz.dao.QuartzJobDto">
        <id column="JOB_NAME" property="name"/>
        <result column="TRIGGER_NAME" property="triggerName"/>
        <result column="JOB_GROUP" property="jobGroupName"/>
        <result column="TRIGGER_GROUP" property="triggerGroupName"/>
        <result column="DESCRIPTION" property="description"/>
        <result column="NEXT_FIRE_TIME" property="nextFireTime"/>
        <result column="PREV_FIRE_TIME" property="prevFireTime"/>
        <result column="TRIGGER_STATE" property="triggerState"/>
        <result column="TRIGGER_TYPE" property="triggerType"/>
        <result column="CRON_EXPRESSION" property="cronExpression"/>
        <result column="START_TIME" property="startTime"/>
        <result column="END_TIME" property="endTime"/>
    </resultMap>
    <resultMap id="QuartzWrongDateResultMap" type="com.zhengqing.modules.quartz.dao.QuartzWrongDateDto">
        <id column="id" property="id"/>
        <result column="job_name" property="jobName"/>
        <result column="description" property="description"/>
        <result column="wrong_quantity" property="wrongQuantity"/>
        <result column="create_date" property="createdDate"/>
        <result column="update_date" property="updateDate"/>
    </resultMap>


    <select id="getQuartzList" resultMap="BaseResultMap">
        SELECT
        a.`JOB_NAME`,
        a.`TRIGGER_NAME`,
        a.`JOB_GROUP`,
        a.`TRIGGER_GROUP`,
        a.`TRIGGER_STATE`,
        a.`DESCRIPTION`,
        a.`NEXT_FIRE_TIME`,
        a.`PREV_FIRE_TIME`,
        a.`TRIGGER_TYPE`,
        b.`CRON_EXPRESSION`,
        a.`START_TIME`,
        a.`END_TIME`
        FROM
        `QRTZ_TRIGGERS` a
        LEFT JOIN `QRTZ_CRON_TRIGGERS` b
        ON a.`TRIGGER_NAME` = b.`TRIGGER_NAME`
        WHERE 1=1
        <if test="filter.name != null">
            and a.JOB_NAME= #{filter.name}
        </if>
    </select>

    <select id="getWrongJobDate" resultMap="QuartzWrongDateResultMap">
        SELECT q.`id`,
        q.`job_name`,
        q.`description`,
        q.`wrong_quantity`,
        q.`create_date`,
        q.`update_date`
        FROM
        t_quartz_data q
        WHERE 1 = 1
        <if test="filter.jobName !=null and filter.jobName !=''">
            and q.job_name= #{filter.jobName}
        </if>
        <if test="filter.startTime !=null">
            and q.create_date &gt; #{filter.startTime}
        </if>
        <if test="filter.endTime !=null">
            and q.create_date &lt; #{filter.endTime}
        </if>
    </select>

    <select id="getWrongJobDateList" resultType="java.util.HashMap">
        SELECT q.`id`,
        q.`job_name`,
        q.`description`,
        q.`wrong_quantity`,
        q.`create_date`,
        q.`update_date`,
        DATE_FORMAT(q.`create_date`,'%Y-%m-%d %H:00') AS nowTime
        FROM
        t_quartz_data q
        WHERE 1 = 1
        <if test="filter.jobName !=null and filter.jobName !=''">
            and q.job_name= #{filter.jobName}
        </if>
        <if test="filter.startTime !=null">
            and q.create_date &gt; #{filter.startTime}
        </if>
        <if test="filter.endTime !=null">
            and q.create_date &lt; #{filter.endTime}
        </if>
    </select>
</mapper>
